<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Blog Template/img/ms-icon-310x310.png"/>
    <title>SUnderwood's Blog</title>

    <!-- Loading animation -->
    <script src="~/Blog Template/js/pace.min.js"></script>
    <!-- Bootstrap core CSS and Material Bootstrap -->
    <link href="~/Blog Template/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Blog Template/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Blog Template/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="~/Blog Template/css/ripples.min.css" rel="stylesheet">
    <link href="~/Blog Template/css/material-scrolltop.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Blog Template/css/material-blog.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-material-blog navbar-inverse navbar-absolute-top">
        <div class="navbar-image" style=" background-image: url('../../Blog Template/img/Blog_Header.jpg'); background-position: center 40%;"></div>
        <div class="navbar-wrapper container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><i class="material-icons">&#xe30c </i> Steven Underwood Blog</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Blog", "Index", "BlogPosts")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("New Post", "Create", "BlogPosts")</li>
                        <li>@Html.ActionLink("UnPublished Posts", "AllPosts", "BlogPosts")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container blog-content">
        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="row">

                    @*This is where the blog posts were at!*@
                    @RenderBody()

                </div>
            </div><!-- /.blog-main -->
            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            @if (User.IsInRole("Admin"))
            {
                <div>
                    <p>You are Logged in as the Admin</p>
                </div>
            }
            @if (User.IsInRole("Moderator"))
            {
                <div>
                    <p>You are Logged in as a Moderator</p>
                </div>
            }
            @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
            { 
                <div class="sidebar-module">
                    <div class="control controls-row search-row">
                        <input id="searchStr" name="searchStr" class="input-block-level" type="text" placeholder="Search......">
                        <input id="searchStr" name="searchStr" class="btn btn-default" type="submit" value="Search">
                     </div>
                </div>
            }<!-- /.sidebar-module -->
                <div class="sidebar-module">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>About</h4>
                            <p>This is a blog dedicated to what I am currently learning while attending Coder Foundry. I will try to update weekly giving a brief overview of what we learned during the week and how to apply it</p>
                        </div>
                    </div>
                </div><!-- /.sidebar-module -->
                @*<div class="sidebar-module">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Categories</h4>
                    <ol class="categories list-unstyled">
                        <li>
                            <a class="label label-light label-warning" href="filter-category.html">News</a>
                            <span class="label label-light label-default pull-right">8</span>
                        </li>
                        <li>
                            <a class="label label-light label-warning" href="filter-category.html">Apps</a>
                            <span class="label label-light label-default pull-right">5</span>
                        </li>
                        <li>
                            <a class="label label-light label-warning" href="filter-category.html">Branding</a>
                            <span class="label label-light label-default pull-right">9</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>*@<!-- /.sidebar-module -->
                @*<div class="sidebar-module">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Archives</h4>
                            <ol class="list-unstyled">
                                <li><a href="~/Blog Template/filter-date.html">May 2017</a></li>
                            </ol>
                        </div>
                    </div>
                </div>*@<!-- /.sidebar-module -->
                @*<div class="sidebar-module">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Newsletter</h4>
                    <div class="form-group label-floating">
                        <label class="control-label" for="name">Name</label>
                        <input type="text" id="name" class="form-control input-sm">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="email">E-mail</label>
                        <input type="text" id="email" class="form-control input-sm">
                    </div>
                    <a href="#" class="btn btn-warning btn-raised btn-sm btn-block">Subscribe</a>
                </div>
            </div>
        </div>*@<!-- /.sidebar-module -->
                <div class="sidebar-module">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Elsewhere</h4>
                            <ol class="list-unstyled">
                                <li><a href="https://www.linkedin.com/in/steven-underwood-3b0137162" target="_blank">Linkedin</a></li>
                                <li><a href="https://github.com/sunder96u" target="_blank">GitHub</a></li>
                                <li><a href="https://sunderwoodmyportfolio.azurewebsites.net" target="_blank"</a>Portfolio</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.sidebar-module -->
            </div><!-- /.blog-sidebar -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <footer class="blog-footer">
        <div id="links">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <i class="material-icons brand">&#xe30c </i>
                    </div>
                    <div class="col-sm-8 text-center offset">
                        <ul class="list-inline">
                            <li>@Html.ActionLink("Home", "Index", "BlogPosts")</li>
                            <li>@Html.ActionLink("About","About","Home")</li>
                            <li>@Html.ActionLink("Contact","Contact","Home")</li>
                        </ul>
                    </div>
                    <div class="col-md-2 text-right offset">
                        <ul class="list-inline">
                            <li><a href="https://www.linkedin.com/in/steven-underwood-3b0137162" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://github.com/sunder96u" target="_blank"><i class="fa fa-github-alt"></i></a></li>
                            <li><a href="https://sunderwoodmyportfolio.azurewebsites.net" target="_blank"<i class="fa fa-briefcase"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <button class="material-scrolltop inverse" type="button"></button>
    <script src="~/Blog Template/js/jquery-1.11.3.min.js"></script>
    <script src="~/Blog Template/js/bootstrap.min.js"></script>
    <script src="~/Blog Template/js/ripples.min.js"></script>
    <script src="~/Blog Template/js/material.min.js"></script>
    <script src="~/Blog Template/js/material-scrolltop.js"></script>
    <script src="~/Blog Template/js/main.js"></script>
    <script>
        $.material.init();
        $('body').materialScrollTop();
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>